/* For desktop: */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #2f2f2f;
  align-items: center;
  height: 100%;
  padding: 20px;
}

nav ul {
  width: 25%;
  /* background-color: red; */
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav ul li {
  /* width: 10rem; */
  text-align: center;
  /* padding: 20px; */
  display: flex;
  cursor: pointer;
  justify-content: center;
}

nav ul li a {
  color: #2f2f2f;
  font-size: 22px;
  letter-spacing: 0.2px;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  line-height: initial;
  position: relative;
  padding: 16px 2px;
  overflow: hidden;
  transition: color 0.3s ease;
}

/* Animación del botón */
nav ul li a::after {
  content: "";
  position: absolute;
  background-color: #40d482;
  height: 4.2px;
  width: 100%;
  left: 0;
  bottom: -1px;
  /* bottom: -0.2rem; */
  border-radius: 25px;
  transform: translateY(3px);
}

nav ul li a:hover::after {
  transform: translateY(0px);
  transition: transform 0.3s ease;
}
/* ----- */

nav ul li a:hover {
  color: #40d482;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  line-height: initial;
}

.contenedor {
  display: grid;
  height: 800px;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 90px 4fr;
  grid-template-areas:
    "header header header header"
    "buscador  contenedorPokemon contenedorPokemon contenedorPokemon";
}

.contenedor .header {
  grid-area: header;
  color: #2f2f2f;
}
/* Contenedor Busqueda Avanzada */
.contenedor .buscador {
  grid-area: buscador;
  padding: 20px;
}
.buscador-especial {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

/* Botones de tipos de pokemones */
.btn-tipo {
  height: 30px;
  width: 90px;
  border-radius: 20px;
  border: none;
  margin: 5px 2px;
  background-color: #40d482;
}

.btn-tipo:hover {
  color: #f6f7fb;
}

/* Main container */
.contenedor .contenedorPokemon {
  grid-area: contenedorPokemon;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
  padding: 20px;
  border-radius: 40px;
}

/* Contenedor de los Pokemones Filtrados */
.contenedor .pokemones-filtrados {
  padding: 20px;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 250px;
  gap: 25px;
  row-gap: 25px;
  height: 100%;
}

.filtros {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

/* .filtros select {
  border: 1px solid #ebebeb;
  border-radius: 20px;
  font-size: 14px;
  height: 35px;
  width: 200px;
  padding-left: 20px;
  background-color: #fdfdfd;
  cursor: pointer;
}
.filtros select option {
  background-color: white;
  color: gray;
  padding: 20px;
  height: 35px;
  cursor: pointer;
} */

.item {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  flex-direction: column;
  padding: 30px;
  height: 250px;
}
.item h3 {
  font-size: 20px;
  font-weight: 400;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-top: -25px; */
}

.info .icon span {
  color: #55d4d4;
  font-size: 13px;
}
.item > img {
  width: 150px;
  /* margin-top: -45px; */
}

.item > h2 {
  font-size: 30px;
  color: #757575;
}

.logo {
  font-size: 30px;
  weight: 300;
}

.circle-btn {
  background-color: #40d482;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
}

.circle-btn .icon span {
  font-size: 20px;
}

.circle-btn .icon {
  color: #fff;
}

.input-btn {
  background-color: #40d482;
  width: 50px;
  height: 50px;
  border-radius: 0 25px 25px 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  position: absolute;
  right: 0;
}

.input-btn span {
  color: #fff;
}

.caracteristicas {
  /* background-color: blue; */
  display: flex;
  margin-bottom: 20px;
}

.btn-caracteristica {
  /* background-color: red; */
  /* width: 200px; */
  display: flex;
  /* width: 50%; */
  height: 50px;
  border: none;
  font-size: 24px;
  background-color: none;
  justify-content: flex-start;
  align-items: center;
  /* padding: 5px; */
  position: relative;
  color: #ebebeb;
}

.btn-caracteristica::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #40d482;
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-caracteristica:hover {
  color: #40d482;
}

.btn-caracteristica:active::after {
  background-color: red;
}

.hide-bottom-line::after {
  display: none;
}

#debilidades {
  margin-left: 30px;
}

.btns-container {
  margin-top: 30px;
}

.titulo {
  margin-bottom: 20px;
}

.box {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-bottom: 140px;
}

#input-buscar {
  position: absolute;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  border: solid 1px #ebebeb;
  padding-left: 20px;
  font-size: 20px;
  outline: none;
}

.icons {
  width: 195px;
  display: flex;
  justify-content: space-between;
}

.icons .nav-btn {
  width: 50px;
  height: 50px;
  /* background-color: red; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #2f2f2f;
  cursor: pointer;
  transition: 0.3s;
}

.icons .nav-btn:hover {
  color: #40d482;
  border: 3px solid #40d482;
}

.icons .nav-btn .icon {
  font-size: 30px;
}

/* ----------- */

.circle-btn {
  background-color: #40d482;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
}

.circle-btn .icon span {
  font-size: 20px;
}

.circle-btn .icon {
  color: #fff;
}

.dropdown {
  width: 300px;
  height: 50px;
  position: relative;
  /* padding: 20px; */
}

.dropdown-select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
}

.dropdown-list {
  width: 100%;
  /* border-radius: 0 0 10px 10px; */
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  overflow: hidden;
  cursor: pointer;
}

.options {
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  /* transition: background-color 0.3s ease; */
}

.options:hover {
  background-color: #ebebeb;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

#arrowIcon {
  font-size: 15px;
}

.rotate {
  transform: rotate(180deg);
}

.btns-tipo {
  position: relative;
  left: -5px;
}

.active {
  color: #000;
}

.namePokemon {
  text-transform: capitalize;
}
