/* For Mobile: */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  color: #2f2f2f;
  align-items: center;
  height: 100%;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

nav ul {
  display: none;
  list-style: none;
  justify-content: space-between;
  flex-direction: column;
}

.mostrarnav {
  display: block;
}

nav ul li {
  text-align: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

nav ul li a {
  color: #2f2f2f;
  font-size: 100%;
  letter-spacing: 0.2px;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  line-height: initial;
  position: relative;
  padding: 10px 2px;
  overflow: hidden;
  transition: color 0.3s ease;
}

/* Animación del botón */
nav ul li a::after {
  content: "";
  position: absolute;
  background-color: #40d482;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -2px;
  border-radius: 25px;
  transform: translateY(3px);
}

nav ul li a:hover::after {
  transform: translateY(0px);
  transition: transform 0.3s ease;
}
/* ----- */

nav ul li a:hover {
  color: #40d482;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  line-height: initial;
}

.contenedor {
  display: grid;
  /* grid-gap: 20px; */
  /* height: 100%; */
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "sect-btn-filter"
    "buscador"
    "contenedorPokemon";
}

.contenedor .header {
  grid-area: header;
  color: #2f2f2f;
  border-bottom: 1px solid #e5e5e5;
}
/* Contenedor Busqueda Avanzada */
.contenedor .buscador {
  grid-area: buscador;
  padding: 0 20px 20px;
  border-radius: 40px;
  /* display: flex; */
  display: none;
  flex-direction: column;
}

.buscador-especial {
  width: 85%;
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: -20px; */
  margin-bottom: 30px;
}

.nav-filter {
  grid-area: sect-btn-filter;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #f4faf7;
}

.btn-clean-mobile,
.btn-clean-desktop {
  color: #40d482;
}

#btn-clean:hover {
  cursor: pointer;
  color: #53e996;
}

#btn-filter {
  background-color: #40d482;
  width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  color: #fff;
  height: 30px;
  align-items: center;
}

/* #btn-filter:hover {

} */
/* 
.nav-filter {
  display: flex;
} */
/* Botones de tipos de pokemones */

.properties-container {
  margin-top: 10px;
}

.btn-tipo,
.btn-debilidad {
  height: 30px;
  width: 90px;
  border-radius: 20px;
  border: none;
  margin: 5px 2px;
  background-color: #f4faf7;
  cursor: pointer;
  transition: 0.2s ease box-shadow;
  color: #000;
  font-size: 13.5px;
  font-weight: initial;
}

.btn-tipo:hover,
.btn-debilidad:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main container */

.contenedor .contenedorPokemon {
  grid-area: contenedorPokemon;
  display: flex;
  flex-direction: column;
  background-color: #f4faf7;
  padding: 20px;
  border-radius: 40px;
  overflow: hidden;
  margin: 10px;
}

/* Contenedor de los Pokemones Filtrados */

.contenedor .pokemones-filtrados {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 180px;
  gap: 15px;
  overflow: auto;
  height: 85%;
}

.filtros {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.item {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  padding: 30px;
  height: 180px;
  cursor: pointer;
  transition: 0.2s ease box-shadow;
}

.item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item h3 {
  font-size: 16px;
  font-weight: 400;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info .icon-container {
  display: flex;
}

.info .icon-container .circle-type {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .icon-container .circle-type .format-icon {
  font-size: 15px;
}

.item > img {
  width: 150px;
}

.item > h2 {
  font-size: 30px;
  color: #757575;
}

.logo {
  font-size: 20px;
  weight: 300;
  margin: 20px;
}

.logo a {
  text-decoration: none;
  color: #2f2f2f;
}

.circle-btn {
  background-color: #40d482;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
}

.circle-btn .icon span {
  font-size: 20px;
}

.circle-btn .icon {
  color: #fff;
}

.input-btn {
  background-color: #40d482;
  width: 50px;
  height: 50px;
  border-radius: 0 25px 25px 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  position: absolute;
  right: 0;
}

.input-btn span {
  color: #fff;
}

.caracteristicas {
  display: flex;
  margin-bottom: 20px;
}

.caracteristicas-detalle {
  display: flex;
  width: 95%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.btn-caracteristica {
  display: flex;
  height: 50px;
  border: none;
  font-size: 18px;
  background-color: none;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: #ebebeb;
}

.btn-caracteristica::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #40d482;
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-caracteristica:hover {
  color: #40d482;
}

.hide-bottom-line::after {
  display: none;
}

.show-bottom-line::after {
  display: block;
}

#debilidades {
  margin-left: 30px;
}

.btns-container {
  margin-top: 30px;
}

.titulo {
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 18px;
}

.inpt-search {
  position: relative;
  min-width: 230px;
  max-width: 280px;
  /* NUEVO */
  margin-top: 30px;
}

.box {
  position: relative;
  max-width: 500px;
  width: 100%;
  width: 85%;
  margin-bottom: 140px;
}

#input-buscar {
  height: 50px;
  width: 100%;
  border-radius: 25px;
  border: solid 1px #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
}

.icons {
  display: none;
  width: 195px;
  justify-content: space-between;
}

.icons .nav-btn {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2f2f2f;
  cursor: pointer;
  transition: 0.3s;
}

.icons .nav-btn:hover {
  color: #40d482;
  border: 2px solid #40d482;
}

.icons .nav-btn span {
  font-size: 30px;
  display: flex;
}

/* ----------- */

.circle-btn {
  background-color: #40d482;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
}

.circle-btn .icon span {
  font-size: 18px;
}

.circle-btn .icon {
  color: #fff;
}

.dropdown {
  width: 180px;
  height: 50px;
  position: relative;
}

.dropdown-select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
}

.dropdown-list {
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-select span,
.dropdown-list span {
  font-size: 16px;
}

.options {
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.options:hover {
  background-color: #ebebeb;
}

.shown,
.buscador.shown {
  display: block;
}

.buscador.hidden {
  display: none;
}

.hidden {
  display: none;
}

#arrowIcon {
  font-size: 15px;
}

.rotate {
  transform: rotate(180deg);
}

.btns-tipo {
  position: relative;
  left: -5px;
}

.active {
  color: black;
}

.inactive {
  color: gray;
}

.namePokemon {
  text-transform: capitalize;
}

.tipo-seleccionado,
.debilidad-seleccionado {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border: 2px solid #2f2f2f;
}

/* For Landing: */

/* Landing  */
.contenedor-landing {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto 400px auto auto auto;
  grid-template-areas:
    "header"
    "banner"
    "pokemones-destacados"
    "carousel"
    "footer";
}
.contenedor-landing .header {
  grid-area: header;
  color: #2f2f2f;
}

/* Banner Pikachu Landing */
.banner {
  background-image: linear-gradient(
    to bottom right,
    #40d482 0%,
    #8ee3d7 40%,
    #d0f1de 60%,
    #40d482 100%
  );

  background-size: 200% 200%;
  animation: movingGradient 5s linear infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  display: none;
}

@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
.contenedor-landing .banner {
  grid-area: banner;
}
.banner-info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-descarga h2 {
  color: #2f2f2f;
  text-align: center;
}
.info-descarga {
  color: #40d482;
}
.icons-descarga {
  width: 195px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.info-descarga span:hover {
  color: #ebebeb;
  transition: 0.3s;
}
.info-guia {
  color: #2f2f2f;
  text-align: center;
}

.btnDescarga {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #40d482;
  color: #ebebeb;
  width: 140px;
}

.btnDescarga:hover {
  background-color: #ebebeb;
  color: #40d482;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.contenedor-landing .pokemones-destacados {
  grid-area: pokemones-destacados;
}
.contenedor-landing .carousel-wrapper {
  grid-area: carousel;
}
.contenedor-landing footer {
  grid-area: footer;
}
.pokemones-destacados {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.pokemones-destacados h2 {
  margin-right: 20px;
  font-size: 18px;
}

/* CARROUSEL */
.carousel-wrapper {
  overflow: hidden;
  position: relative;
}
.carousel {
  width: 100%;

  background: #f6f7fb;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: hidden;
  padding: 30px;
  transition: 0.25s left ease-in-out;
}
.carousel-wrapper .span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 52px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  background-color: #92e4b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-wrapper .span:hover {
  background-color: #40d482;
}
.carousel-wrapper .span:nth-of-type(1) {
  left: 0px;
}
.flechaizquierda {
  transform: rotate(90deg);
}
.flechaderecha {
  transform: rotate(270deg);
}
.carousel-wrapper .span:nth-of-type(2) {
  right: 0px;
}
.carousel .carousel__photo {
  position: relative;
  min-width: 100%;

  background-color: #fdfdfd;
  border-radius: 24px;
  left: 0;
  transition: 0.5s transform ease-in-out, 0.5s left ease-in-out;
  text-align: center;
}

.carousel__photo + .carousel__photo {
  margin-left: 35px;
}

.carousel .carousel__photo::-webkit-scrollbar {
  visibility: hidden;
}
.carousel__photo img {
  width: 50%;
}
.carousel-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-info > p {
  padding-left: 8px;
  font-size: 16px;
}
.carousel-info .nombre-pokemon {
  font-size: 16px;
}
.carousel-tipo {
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #fbe043;
  border-radius: 20px;
  min-width: fit-content;
  width: 60%;
  text-align: center;
  margin: 10px auto;
}

.carousel__photo:hover .carousel-tipo {
  opacity: 1;
}

.carousel-tipo .nombre-tipo {
  margin-left: 10px;
}
.carousel__photo:hover {
  transform: scale(1.02);
  z-index: 1;
  border: 1px solid #40d482;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
  margin: 20px 20px 10px;
  align-items: center;
  border-top: 1px solid #40d482;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

/* Hamburguer menu */
.hamburguesa {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  margin: 20px;
  font-size: 40px;
  height: 27px;
  width: 27px;
  overflow: visible;
  z-index: 2;
}
.hamburguesa span,
.hamburguesa span:before,
.hamburguesa span:after {
  background: #000;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.hamburguesa span:before,
.hamburguesa span:after {
  content: "";
}
.hamburguesa span {
  right: 0px;
  top: 13px;
  width: 27px;
}
.hamburguesa span:before {
  right: 0px;
  top: -10px;
  width: 27px;
}
.hamburguesa span:after {
  right: 0px;
  top: 10px;
  width: 27px;
}
.hamburguesa.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
.hamburguesa.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
.hamburguesa.close span:after {
  top: 0px;
  right: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}
.candy {
  display: flex;
  justify-content: space-between;
}
.img-candy {
  padding-right: 5px;
}

.clean-container {
  transition: 0.3s ease color;
  color: #40d482;
}

.clean-container span {
  font-size: 15px;
}

.clean-container:hover {
  cursor: pointer;
  color: #53e996;
}

.sec-detail {
  margin-bottom: 25px;
}

.descripcion-total {
  height: 85%;
  overflow: auto;
}

.descripcion-total h1 {
  color: #161616;
  font-size: 20px;
}

.content {
  margin-top: 10px;
  height: calc(100% - 30px);
}

.large-btn {
  background-color: #40d482;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.large-btn:hover {
  cursor: pointer;
  background-color: #53e996;
  color: black;
}

.large-btn span {
  color: #fff;
}

#poke-lgbtn {
  font-size: 30px;
}

#more-pokemon {
  margin-left: 15px;
}

.detail-pokemon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left-img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#identifier {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#big-img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.content ul {
  list-style: none;
}

.content ul li {
  font-weight: 600;
  margin-bottom: 4px;
}

.content ul li span {
  font-weight: 400;
  margin-left: 5px;
}

#namePokemon {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
}

#idPokemon {
  font-size: 18px;
}

.seccion-stats {
  overflow: auto;
}

.vista-detalle {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

/* El formato de boton de vista detalles */
.btn-detail {
  height: 30px;
  width: 90px;
  border-radius: 20px;
  border: none;
  transition: 0.2s ease box-shadow;
  color: #000;
  font-size: 13.5px;
  justify-content: center;
  text-align: center;
  font-weight: initial;
  padding: 5px 10px;
  margin-left: 5px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.seccion-evoluciones {
  height: 100%;
}

.evoluciones-container {
  height: 100%;
}

.errMsg {
  color: red;
  padding-left: 20px;
  font-size: 13px;
}

/* for desktop */
@media (min-width: 768px) {
  .hamburguesa {
    display: none;
  }
  .contenedor {
    display: grid;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1.2fr 2.8fr;
    grid-template-rows: 90px auto;
    grid-template-areas:
      "header header header header"
      "buscador  contenedorPokemon contenedorPokemon contenedorPokemon";
  }
  .box {
    margin-bottom: 140px;
  }
  .contenedor-landing {
    grid-template-rows: 90px 400px auto auto auto;
  }

  .banner img {
    display: block;
  }

  nav {
    flex-direction: row;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    width: 25%;
  }

  /* NUEVO */

  .icons {
    display: flex;
  }

  .contenedor .buscador {
    display: flex;
    padding-left: 30px;
  }
  .nav-filter {
    display: none;
  }

  .contenedor .pokemones-filtrados {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
    row-gap: 15px;
    overflow: auto;
    height: 85%;
  }

  .item {
    /* display: flex; */
    flex-direction: column;
    height: 250px;
  }

  .contenedor .contenedorPokemon {
    margin-left: 20px;
  }

  .buscador-especial {
    display: flex;
  }

  .btnDescarga {
    margin-top: 30px;
  }

  .carousel .carousel__photo {
    min-width: 18%;
    height: 250px;
    padding: 20px;
  }
  .carousel__photo img {
    width: 50%;
  }
  .carousel-wrapper .span {
    height: 92px;
  }

  .caracteristicas-detalle {
    display: flex;
    width: 50%;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .large-btn {
    margin-top: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .filtros {
    padding: 0 20px 20px;
  }

  .dropdown {
    width: 230px;
  }
}
